allure-python-commons==2.16.0
annotated-doc==0.0.5
attrs==26.1.0
bcrypt==5.0.0
cachetools==7.1.7
certifi==2026.7.22
cffi==2.1.0
charset-normalizer==3.4.9
colorama==0.4.6
cryptography==49.0.0
graphviz==0.21
idna==3.18
iniconfig==2.3.0
invoke==3.0.3
loguru==0.7.3
markdown-it-py==4.2.0
mdurl==0.1.2
netext==0.5.0
networkx==3.6.1
numpy==2.5.2
packaging==26.2
paramiko==5.0.0
phart==2.1.0
pluggy==1.6.0
pycparser==3.0
Pygments==2.20.0
PyNaCl==1.6.2
pytest==9.1.1
python-dotenv==1.2.3
pyvmomi==9.1.0.0
PyYAML==6.0.3
requests==2.34.2
rich==15.0.0
ruff==0.15.21
shellingham==1.5.4
typer==0.27.1
typing_extensions==4.16.0
urllib3==2.7.0
win32_setctime==1.2.0
